[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysam = "*"
matplotlib = "*"
edlib = "*"
mappy = "*"
pyyaml = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
